<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Form</title>
</head>
<body>

<h2>Customer Form</h2>

<form th:action="@{/customers/save}" th:object="${customer}" method="post">

    <!-- HIDDEN FIELD FOR ID -->
    <input type="hidden" th:field="*{id}" />

    <label>Name:</label><br>
    <input type="text" th:field="*{name}" required/><br><br>

    <label>Contact Number:</label><br>
    <input type="text" th:field="*{contactNumber}" required/><br><br>

    <label>Address:</label><br>
    <input type="text" th:field="*{address}"/><br><br>

    <label>Notes:</label><br>
    <textarea th:field="*{notes}"></textarea><br><br>

    <button type="submit">Save</button>
</form>


<a th:href="@{/customers}">Back</a>

</body>
</html>
